.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .header-button {
    background-color: transparent;
    color: #fff;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;
  }
  
  .header-button:hover {
    color: #f00;
  }

  /*Anime list*/
  .anime-list--item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

.anime-list--item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.anime-list--item .anime-list--box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.anime-list--item:hover .anime-list--box {
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.9);
}

.anime-list--item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.anime-list--item:hover img {
    transform: scale(1.1);
}

.anime-list--container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

