.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .header-button {
    background-color: transparent;
    color: #fff;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;
  }
  
  .header-button:hover {
    color: #f00;
  }

  /*Anime list*/
  .anime-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.anime-list--container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

.anime-list--item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

.anime-list--item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.anime-list--item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.anime-list--item:hover::before {
    opacity: 1;
}

.anime-list--item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.anime-list--item h3 {
    margin: 0;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 768px) {
    .anime-list--item {
        width: 150px;
        height: 250px;
    }

    .anime-list--item h3 {
        font-size: 1rem;
    }
}